:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  padding: 0;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.colocarBorda {
  border: 1px solid #00000044 !important;
}

.scaleCustom:hover {
  transition: ease-in-out;
  transform: scale(1.03);
  transition-duration: 300ms;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.triangle-right {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 15px solid rgb(34 197 94);
  border-radius: 2px;
 
}


.triangle-right-white {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 15px solid rgb(255, 255, 255);
  border-radius: 2px;
 
}

.triangle-right-grey {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 15px solid rgb(240, 240, 240);
  border-radius: 2px;
 
}



.triangle-right-white-board {
  width: 0;
  height: 0;
  left: 0.1px;
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  border-left: 26px solid rgb(255, 255, 255);
  border-radius: 2px;
  top: 1px;
}

.triangle-right-grey-board {
  width: 0;
  height: 0;
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  border-left: 26px solid rgb(242, 242, 242);
  border-radius: 2px;
  top: 0.1px;
  right: -1.6rem;
  z-index: 1;
}


.triangle-right-title-grey {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid rgb(240, 240, 240);
  border-radius: 2px;
 
}

.triangle-right-title-green {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid rgb(34, 197, 94);
  border-radius: 2px;
}

.triangle-right-title-white {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid rgb(255, 255, 255);
  border-radius: 2px;
 
}




.levantar {
  margin-top: -0.3rem !important;
}

.inputCinza::placeholder {
  opacity: 0.5; /* Altere para o valor de opacidade desejado */
}


.myQuill .ql-editor {
  min-height: 38vh; /* Altere para a altura desejada */
  border-radius: 15px;
}
.NewTicketQuill .ql-editor {
  height: 20vh;
  border-radius: 15px; 
}

.myQuillBig {
  width: 100%;
  height: 50vh;
  box-shadow: #000;
}

.headerHeight {
  height: 8vh;
}

.pageHeight {
  height: 92vh;
}

.myQuillBig .ql-editor {
  font-size: 20px;
}
.ql-container {
  height: 35vh;
}
.verticalRule {
  border-left: 2px solid gray;
}
.horizontalRule {
  border: none;
  border-top: 0.1px solid #cccccc; 
  margin-top: 10px;
  width: calc(100% + 1rem);
  margin-left: -0.5rem;
  box-sizing: border-box;
}
.horizontalRuleFilter {
  border: none;
  border-top: 0.1px solid #cccccc; 
  margin-top: 10px;
  width: calc(100% + 2rem);
  margin-left: -1rem;
  box-sizing: border-box;
}




.fontePadrao {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;

}

.borderCustom {
  border-color: red !important;
  border-width: 2px !important;
}

.scrollbar-container {
  overflow-y: auto; /* Adiciona a barra de rolagem vertical somente quando necessário */
  scrollbar-width: thin; /* Define a largura da barra de rolagem */
}

/* Estilo da barra de rolagem */
.scrollbar-container::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

/* Estilo do indicador da barra de rolagem */
.scrollbar-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor do indicador */
  border-radius: 4px; /* Borda arredondada */
}

/* Estilo do fundo da barra de rolagem */
.scrollbar-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cor do fundo */
}

.customHeight {
  height: 95vh;
}

.customTopBorder {
  position: relative;
}

.customTopBorder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 3px solid #000;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.slide-up {
  animation: slideUp 0.3s ease-out forwards;
}

.slide-down {
  animation: slideDown 0.3s ease-out forwards;
}

.indexCustom {
  z-index: 99999999 !important;
}



.myQuillBig .ql-container {
  height: 42vh;
}

.ql-container{
  height: 32vh;
}

.customBorder {
  border: 0.1px solid #00000034 !important  
}

.customBorderDotted {
  border: 3px dashed #00000034 !important  
}

.customBorderInput {
  border: 0.1px solid #00000034 !important
}
.customBorderInput:hover {
  border: 0.1px solid #000 !important;
}
.customBorderInput:focus {
  border: 0.2px solid #000 !important;
}

input.corPlaceholder::placeholder {
  color: #000 !important; /* Altere para a cor desejada */
}

.animacoesHover :hover {
  transform: scale(1.1);
}

.blindarScale {
  transform: scale(1) !important;
}
.modalAdd.enter {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.modalAdd.show {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.customRedBorder {
  border: 0.1px solid red !important;
  border-style: solid;
}

.aumento-pequeno {
  --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.borderFocus {
  border: 0.1px solid #000000 !important
}

.widthCustom {
  width: 25vw !important;
}
.bordaSelecionado {
  border: 1px solid rgb(0, 0, 0) !important;
}

.line {
  width: 100%;
  height: 1px;
  margin-top: 1px; 
  background-color: black; 
}

.myQuill2 .ql-container {
  height: 36vh;
}

.myQuill .ql-container {
  height: 38vh;
}

.customFormHeight {
  height: 50vh;
}

.border-yellow {
  border: 0.1px solid yellow !important;
}

.border-red {
  border: 0.1px solid red !important;
}

.border-green {
  border: 0.1px solid green !important;
}


.envelopeTeste {
  z-index: 9999
}



@tailwind base;
@tailwind components;
@tailwind utilities;